@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");

.form {
  margin-right: 40%;
  margin-left: 39%;
  padding-bottom: 3%;
  font-family: "Fugaz One", cursive;
  color: rgb(61, 71, 99);
}

.header {
  color: rgb(137, 143, 158);
  font-family: "Fugaz One", cursive;
}

.button {
  margin-left: 37%;
}

.map {
  margin-right: 20%;
  margin-left: 34%;
}

.city {
  margin-right: 20%;
  margin-left: 47%;
}

.city1 {
  margin-right: 20%;
  margin-left: 46%;
}